<body>
    <!-- Navbar Pagina Principal -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <!-- Marca con link a Home -->
            <a class="navbar-brand" href="Game_Vibe_Store.html">GameVibe</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="SobreNosotros.html">Sobre Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categorias.html">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Blogs.html">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>

                <!-- Botones alineados a la derecha -->
                <div class="d-flex ms-auto">
                    <a href="login.html" class="btn btn-outline-primary me-2">Iniciar Sesión</a>
                    <a href="registro.html" class="btn btn-primary">Registrar Usuario</a>
                </div>
            </div>
        </div>
    </nav>
</body>